VITE_API_BASE_URL=http://localhost:8090/api/v1/identity/
VITE_LOGIN_ENDPOINT=auth/login
VITE_LOGOUT_ENDPOINT=auth/logout
VITE_ME_ENDPOINT=/auth/me
VITE_MENU_ENDPOINT=/module
VITE_ROLE_ENDPOINT=/master/role
VITE_USER_ENDPOINT=/master/user
VITE_ORGANIZATION_ENDPOINT=/master/organization
VITE_LOCATION_ENDPOINT=/master/location
